@font-face {
    font-family: "Roboto";
    src: 
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: 
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: 
        url("../fonts/robotoextrabold.woff2") format("woff2"),
        url("../fonts/robotoextrabold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}