.choice-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding: 0;
}

.choice-list__item {
    margin: 0;
    width: 40px;
    margin-right: 20px;
}