.form {
  outline-offset: -2px;
  padding: 0;
  margin: 0;

  @media (min-width: $wide-tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    height: 100vh;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 800px 420px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 820px 440px;
  }
}

.form__block--main {
  padding-top: 60px;

  @media (min-width: $wide-tablet-width) {
    padding-top: 90px;
  }
}

.form__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 30px;
    padding-right: 50px;
  }

  @media (min-width: $wide-desktop-width) {
    // width: 780px;
    padding-left: 50px;
    padding-right: 60px;
  }
}

.form__group {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__group--date {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

.form__group:first-child .form__input-container:first-child {
  margin-top: 0;
}

.form__label {
  font-size: 18px;
  line-height: 21px;
  color: $gray-600;
  display: block;
  margin-bottom: 11px;
}

.form__input-container {
  margin: 0;
  position: relative;
  margin-top: 40px;
  width: 280px;
  border: none;
  padding: 0;

  @media (min-width: $wide-mobile-width) {
    width: auto;
  }

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }
}

.form__input-container--select {
  @media (min-width: $tablet-width) {
    width: 260px;
    margin-right: 40px;
  }
}

.form__input-container--all-width {
  width: 100%;
}

.form__input-container--duration {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 360px;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}

.form__input-container--amount {
  width: 290px;

  @media (min-width: $wide-mobile-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 240px auto;
    column-gap: 40px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 360px auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 460px auto;
  }
}

.form__input-container--amount .form__label {
  @media (min-width: $wide-mobile-width) {
    grid-column: 1 / -1;
  }
}

.form__input-container--amount .form__input {
  @media (min-width: $wide-mobile-width) {
    grid-column: -1 / -2;
    grid-row: 2 / 3;
  }
}

.form__input-container--amount .form__range-filter {
  @media (min-width: $wide-mobile-width) {
    margin-top: 0;
    padding-top: 0;
  }
}

.form__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  padding: 12px 18px;
  border: 2px solid $gray-400;
  border-radius: 9px;
  cursor: pointer;
}

.form__input--amount {
  padding-right: 76px;
}

.form__input--date {
  font-size: 18px;
  line-height: 21px;
}

.form__input-description {
  position: absolute;
  right: 20px;
  bottom: 15px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: right;
  color: $gray-600;
  width: 26px;
  height: 18px;
  user-select: none;
}

.form__select {
  font-size: 16px;
  line-height: 21px;
  appearance: none;
  background-image: url("/img/icon-select.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
}

.form__select:focus {
  background-color: $gray-400;
}

.form__cholice-list {
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}

.form__range-filter {
  margin-top: 15px;
}

.form__percent-info {
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.form__submit-info {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
