.header {
  display: flex;
  align-items: center;

  @media (min-width: $wide-tablet-width) {
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.header__logo {
  display: flex;
  width: 55px;
  height: 48px;
  border-radius: 9px;
  background-color: $primary-yellow;
  overflow: hidden;

  @media (min-width: $wide-mobile-width) {
    width: 48px;
  }
}

.header__logo:hover {
  background-color: $gray-400;
}

.header__logo:active {
  background-color: $gray-300;
  box-shadow: inset 1px 1px 10px -1px $black;
}

.header__logo-icon {
  width: 25px;
  height: 29px;
  margin: auto;
}

.header__title {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  padding-right: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $wide-mobile-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 42px;
  }
}
